body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  width: 100%;
  height: 70px; // Adjust according to your footer's height
  box-sizing: border-box; // Include padding and border in the element's total width and height
}

.footer-left {
  font-size: 16px; 
  color: white; 
  font-family: Arial, sans-serif; 
}

.footer-right {
  font-size: 16px; 
  color: white; 
  font-family: Arial, sans-serif; 
  margin-right: 10px; // Reduce the right margin
}

a {
  color: white;
}