
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
}

.logo {
  height: 75px; // Adjust as needed
  width: auto;
}

.nav {
  display: flex;
  gap: 20px;
}
.home-button,
.wishlist-button,
.login-button,
.register-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}