
.homepage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  background-image: url('../styles/Images/videogame_background.png');
  background-size: cover; // Cover the entire container
  background-repeat: no-repeat; // Don't repeat the image
  background-position: center; // Center the image
}

.title {
  font-size: 48px; // Increase the font size
  color: #ffffff; // Change the color to white
  font-family: 'Arial', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // Add a shadow to the text
  text-align: center; // Center the text
  margin-top: 20vh; // Push the title down to be more centered in the view
}

.description {
  width: 60%; // Adjust as needed
  margin: 20px auto; // Center the box
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7); // Semi-transparent black background
  color: #ffffff; // White text
  border-radius: 10px; // Rounded corners
  text-align: justify; // Justify the text
  line-height: 1.5; // Increase the line height for readability
}

.genre-label {
  margin-top: 20px;
  font-size: 24px;
}

.genre-select {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
}

.main-content {
  flex-grow: 1;
}